* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.active {
    transition: font-size 0.7s;
    font-size: 20px;
    text-decoration: none;
    div {
        color: red;
        background: #1e2127;
        &:hover {
            text-shadow: 0 0 3px red;
        }
    }
}


